.font{
    font-size: 1.3em;
}

.info{
    list-style-type: none;
}

div#left{
    padding: .5em;
}
div#right{
    width: 65%;
    padding-bottom: .5em;
    padding-top: .5em;
}

td#aboutpagetdleft{
    padding-right: 2em;
    width: 50%;
}

td#aboutpagetdright{

}

