h1#contactpageinfo{
    padding-top: 1em;
    font-size: 1.5em;
    margin: 2em;
}

textarea{
    width: 600px;
    height: 200px;
}

/*label#textarealabel{*/
    /*font-size: 1.2em;*/
    /*position: relative;*/
    /*top: -10em;*/
    /*padding-right: .5em;*/
/*}*/

label{
    font-size: 1.2em;
    padding-right: 6em;
}

/*label#emaillabel{*/
    /*font-size: 1.2em;*/
    /*padding-right: 6em;*/
/*}*/

/*label#otherinfolabel{*/
    /*font-size: 1.2em;*/
    /*padding-right: 1.15em;*/
/*}*/

form{
    width: 60%;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 2em;
}

