ul#newslist{
    padding-top: 1em;
}

.newsitem{
    padding-top: .5em;
    font-size: 1.3em;
    padding-bottom: .5em;
}

.linktext{
    margin: 0;
    top: -0.7em;
}

img#newsimg{
    margin: 0 auto;
    width: 100%;
}

.newspagelink{
    color: #ffffff;
}

